<div class="row">
	<ul class="info">
		<li class="list">IsoPods are an escape from the stresses and
mayhem of traveling.</li>
		<li class="list">Each pod is soundproofed to provide a quiet
and comfortable environment allowing
relaxation.</li>
		<li class="list">Each Pod provides access to wireless
internet, power for charging devices, a TV for
watching movies or TV shows from devices,
and a fold down desk.</li>
		<li class="list">Each pod also contains a comfortable
reclining chair and a fold down foot stool for
maximum comfort.</li>
		<li class="list">IsoPods are rented on a half hour basis at a
fee of $10 per half hour.</li>
	</ul>
</div>
<div class="row">
	<div class="center">
		<%= link_to "Home", root_path, class: "btn btn-success btn-lg nav-btns", style: "margin-right: 20px;" %>
		<%= link_to "Rent This IsoPod", info_path, class: "btn btn-success btn-lg nav-btns" %>
	</div>
</div>