
<div class="center">
	<%= link_to "Rent This IsoPod", info_path, class: "btn btn-success btn-lg block" %>
	<%= link_to "Learn About IsoPods", info_path, class: "btn btn-success btn-lg block" %>
	<%= link_to "Report An Issue", info_path, class: "btn btn-success btn-lg block" %>
</div>
