<div class="row">
	<ul class="info">
		<li class="list">IsoPods are rented on a half hour basis at a
fee of $10 per half hour.</li>
		<li class="list">Upon completion of this setup process you
will be given a code to access the IsoPod</li>
		<li class="list">Your time will then begin, and will not stop
until you end your session on this pad.</li>
		<li class="list">You will have a 5 minute grace period
after every half hour to end your session,
otherwise you will be charged for the next
half hour.</li>
		<li class="list">We ask that you please leave the IsoPod in
the condition you entered it in, and please
make sure to remove all trash and belongings
when you leave.</li>
	</ul>
</div>
<div class="row">
	<div class="center">
		<%= link_to "Home", root_path, class: "btn btn-success btn-lg nav-btns", style: "margin-right: 20px;" %>
		<%= link_to "Next", terms_path, class: "btn btn-success btn-lg nav-btns" %>
	</div>
</div>