<div class="row">
	<ul class="info">
		<li class="list">Thank you for completing the set
up process, your IsoPod is ready
for use.</li>
		<li class="list">Once you click the Button below,
your session will start and a code
will be displayed which will allow
you to access the IsoPod.</li>
		<li class="list">When finished, use your 4 digit
pin to unlock this tablet and
hit the END SESSION button to
complete your session.</li>
	</ul>
</div>
<div class="row">
	<div class="center">
		<%= link_to "Home", root_path, class: "btn btn-success btn-lg nav-btns", style: "margin-right: 20px;" %>
		<%= link_to "Next", info_path, class: "btn btn-success btn-lg nav-btns" %>
	</div>
</div>