<h1></h1>

 <div class="payment">
   <div class="card-wrapper"></div>

   <div class="form-container active">

    <form action="/visits" method="POST" id="payment-form">
        <span class="payment-errors"></span>

        <div class="form-row">
          <label>
            <span>Card Number</span>
            <input type="text" size="20" data-stripe="number" name="number" class="card-number"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Name</span>
            <input type="text" size="4" data-stripe="name" name="name"/>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>CVC</span>
            <input type="text" size="4" data-stripe="cvc" name="cvc" class="card-cvc"/>
          </label>
        </div>

        <div class="form-row">
          <input placeholder="MM/YY" type="text" name="expiry" class="card-expiry">
        </div>

        <div class="form-row">
          <input placeholder="Email" type="text" name="email">
        </div>

        <button type="submit">Submit Payment</button>
      </form>


<!--        <form action="/signup" method="post" id="payment-form">


           <input placeholder="Card number" type="text" data-stripe="number" name="number" class="card-number">

           <input placeholder="Full name" type="text" name="name" class="">

           <input placeholder="MM/YY" type="text" name="expiry" class="card-expiry">

           <input placeholder="CVC" type="text"  data-stripe="cvc" name="cvc" class="card-cvc">

         <button type="submit" name="submit" class="btn btn-lg-success pay">
           Rent IsoPod
         </button>
       </form> -->
   </div>
</div>
<script>
   $('.active form').card({
       container: $('.card-wrapper')
   })
</script>