<h1></h1>

 <div class="payment">
   <div class="card-wrapper"></div>

   <div class="form-container active">

    <form action="/visits" method="POST" id="payment-form">
        <span class="payment-errors"></span>

        <div class="form-row">
          <label class="col-sm-2 col-sm-offset-3 ">
            Card Number
          </label>
            <input type="number" size="20" data-stripe="number" name="number" class="card-number col-sm-3"/>
        </div>

        <div class="form-row">
          <label class="col-sm-2 col-sm-offset-3 ">
            Name
          </label>
            <input type="text" size="4" data-stripe="name" name="name"class="col-sm-3"/>
        </div>

        <div class="form-row">
          <label class="col-sm-2 col-sm-offset-3 ">
            Exp.Date
          </label>
            <input placeholder="MM/YY" type="text" name="expiry" class="col-sm-3 card-expiry">
        </div>

        <div class="form-row">
          <label class="col-sm-2 col-sm-offset-3 ">
            CVC
          </label>
            <input type="text" size="4" data-stripe="cvc" name="cvc" class="col-sm-3 card-cvc"/>
        </div>


        <div class="form-row">
            <label class="col-sm-2 col-sm-offset-3 ">
              Email
            </label>
              <input placeholder="Email" type="text" class="col-sm-3" name="email">
        </div>

        <div class="form-row">
          <button type="submit" class="col-sm-6 col-sm-offset-3 btn btn-success btn-lg">Submit Payment</button>
        </div>
      </form>
   </div>
</div>
<script>
   $('.active form').card({
       container: $('.card-wrapper')
   })
</script>