
<div class="row">
	<ul class="info">
		<li class="list">Thank you for Renting an IsoPod,
we hope your session was
enjoyable.</li>
		<li class="list">	<h1>Your total time is: <%= @hours %>:<%= @minutes %></h1></li>
		<li class="list">The total charge to your card ammounted to: $<%= @amount %></li>
	</ul>
</div>
<div class="row">
	<div class="center">
		<%= link_to "Next", terms_path, class: "btn btn-success btn-lg nav-btns" %>
	</div>
</div>