<div class="row">

    <div class="center" style="font-size: 3em;">
      Your pin is:
      <%= @code %>
    </div>
  <ul class="info">
    <li class="list">Your Session has begun, in 15
seconds this screen will go black and
lock.</li>
    <li class="list">To re-access simply tap the screen
and enter your pin.</li>
  </ul>
</div>
<div class="row">
  <div class="center">
    <%= link_to "Next", info_path, class: "btn btn-success btn-lg nav-btns" %>
  </div>
</div>